* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


#testimonial-grid-container {
    padding: 5% 3%;
}

#testimonial-1 {
    background-color: #7541c8;
    color: white;
    position: relative;
    z-index: 0;
}

#testimonial-2 {
    background-color: #48556a;
    color: white;
}

#testimonial-3, #testimonial-5 {
    background-color: white;
    color: #48556a;
}

#testimonial-4 {
    background-color: #19212e;
    color: white;
}

#testimonial-5 {
    background-color: white;
}
.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    font-size: 13px;
}

.grid-item p {
    opacity: 70%;
}

.header .name {
    opacity: 100%;
    font-size: 0.95rem;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    z-index: 3;
    position: relative;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #7541c8;
}

.grid-item h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

#quote {
    position: absolute;
    right: 15%;
    top: 0;
    z-index: 1;
    
}


@media (min-width: 576px) {

    #testimonial-grid-container,
    #main-left,
    #top,
    #bottom {
        display: flex;
    }

    #testimonial-grid-container {
        max-width: 900px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #testimonial-5 {
        flex-basis: 25%;
    }

    #main-left {
        flex-direction: column;
        flex-basis: 75%;
    }

    #main-left .grid-item {
        margin-right: 15px;
    }

    #top, #bottom {
        flex-basis: 50%;
        
    }

    #testimonial-1,
    #testimonial-4 {
       flex-basis: 65%;
    }
    
    #testimonial-2,
    #testimonial-3 {
        flex-basis: 35%;
    }
    
    #testimonial-5 {

    }

}